<div class="sign-up-page">
    <div class="container">
        <div class="auth-component">
            <img src="./assets/img/user-photo.svg" alt="user">
            <h2 class="title">Create account</h2>
            <form class="login-form">
                <div class="form-group">
                    <label for="email" class="label">Your first name</label>
                    <input matInput id="email">
                </div>
                <div class="form-group">
                    <label for="password" class="label">Your last name</label>
                    <input matInput id="password">
                </div>
                <div class="form-group">
                    <label for="email" class="label">Email</label>
                    <input matInput id="email">
                </div>
                <div class="form-group">
                    <label for="email" class="label">Password</label>
                    <input matInput id="email">
                </div>
                <div class="form-group">
                    <label for="email" class="label">Confirm password</label>
                    <input matInput id="email">
                </div>
                <div class="action-block">

                    <button class="orange-btn" mat-button type="button">Sign up your account</button>
                </div>
            </form>
            <div class="sign-up-description">New to Book Publishing Company? <a href="/login" class="orange">Sign In</a></div>
            
        </div>
    </div>
</div>