<div class="reset-password-page">
  <div class="container">
    <div class="auth-component">
      <img src="./assets/img/user-photo.svg" alt="user">
      <h2 class="title">Reset password</h2>
      <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="password" class="label">Password</label>
          <input matInput id="password" formControlName="password">
          <ul class="error" *ngIf="resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched">
            <li *ngIf="resetPasswordForm.get('password').errors.required">Required field</li>
            <li *ngIf="!resetPasswordForm.get('password').errors.required && !resetPasswordForm.get('password').errors.validPassword">
              Invalid password</li>
          </ul>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="label">Confirm password</label>
          <input matInput id="confirmPassword" formControlName="confirmPassword">
          <ul class="error" *ngIf="resetPasswordForm.get('confirmPassword').invalid && resetPasswordForm.get('confirmPassword').touched">
            <li *ngIf="resetPasswordForm.get('confirmPassword').errors.required">Required field</li>
            <li *ngIf="!resetPasswordForm.get('confirmPassword').errors.validPassword && !resetPasswordForm.get('confirmPassword').errors.required">
              Invalid password</li>
          </ul>
        </div>
        <button-component [buttonData]="resetButtonData" >Reset Password</button-component>
      </form>
    </div>
  </div>
</div>