<div class="forgot-password-page">
    <div class="container">
      <div class="auth-component">
        <img src="./assets/img/user-photo.svg" alt="user">
        <h2 class="title">Password assistance</h2>
        <form class="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email" class="label">Email</label>
            <input matInput id="email" formControlName="email">
            <ul class="error" *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched">
              <li *ngIf="forgotPasswordForm.get('email').errors.required">Required field</li>
              <li *ngIf="forgotPasswordForm.get('email').errors.email && !forgotPasswordForm.get('email').errors.required">Invalid email</li>
            </ul>
            <button class="orange-btn continue-btn" mat-button type="submit">Continue</button>
          </div>    
        </form>
      </div>
    </div>
  </div>

