<div class="book-modal">
    <h1 mat-dialog-title class="modal-title">{{data.titleModal}}</h1>
    <div mat-dialog-content>
        <form action="" class="book-form row">
            <div class="col-md-6">
                <div class="field">
                    <label for="title">Title</label>
                    <input matInput name="title" type="text" id="title" [(ngModel)]="data.title">
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea matInput id="description" name="description"
                        [(ngModel)]="data.description"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-wrapper">
                    <label for="image-upload" class="image-upload">
                        <div class="input-preview">
                            <img id="imagePreview" src="{{imageSrc}}">
                        </div>
                        <span class="label"> Change photo</span>
                        <input class="add-photo" id="image-upload" name="cover" type="file" (change)="uploadCover($event)">
                    </label>
                </div>
                <div class="field">
                    <label for="category">Category</label>
                    <mat-select id="category" name="category" [(ngModel)]="data.category">
                        <mat-option *ngFor="let category of categories" [value]="category.category">
                            {{category.category}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field">
                    <label for="autor">Autor</label>
                    <mat-select id="autor" name="autor" [(ngModel)]="data.author">
                        <mat-option *ngFor="let author of autors" [value]="author.name">
                            {{author.name}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="field">
                    <label for="price">Price</label>
                    <input type="number" matInput id="price" name="price" [(ngModel)]="data.price">
                </div>
                <div class="field">
                    <label for="currency">Currency</label>
                    <mat-select id="currency" name="currency" [(ngModel)]="data.currency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency">
                            {{currency}}
                        </mat-option>
                    </mat-select>
                </div>

            </div>
            <div mat-dialog-actions class="btn-wrapper">
                <button mat-button (click)="close()" class="outline-btn cancel-btn">Cancel</button>
                <button mat-button [mat-dialog-close]="data" (click)="saveBook()" class="orange-btn" cdkFocusInitial>Save</button>
            </div>
        </form>
    </div>
</div>