.field {
  display: flex;
  margin-bottom: 18px;
  justify-content: space-between;
  input, textarea {
    width: 100%;
    background: #868686;
    border: 0;
    height: 60px;
    padding: 5px;
    width: 250px;
  }
}


::ng-deep .cdk-overlay-pane{
    .mat-dialog-container{
    background-color: #3f3f3f;
  }
  .mat-dialog-content{
    max-height: 100vh;
    height: 800px;
  }
  .mat-select{
    width: 100%;
    background: #868686;
    border: 0;
    height: 60px;
    padding: 5px;
    width: 250px;
  }
}

.add-photo{
    
}