.orange-btn {
  background-color: #fb7134;
  height: 52px;
  color: #fff;
  padding: 0 15px;
  border: none;
}

.outline-btn {
  width: 234px;
  height: 52px;
  border: 2px solid #f9621f;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #b9b8b7;
  &:hover {
    color: #f9621f;
  }
}
.cancel-btn {
  &.outline-btn {
    border: 2px solid #f9621f;
    width: max-content;
  }
}

.add-btn.mat-button {
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    outline: none;
  }
}