.orange-btn{
    background-color: #FB7134;
    height: 52px;
    color: #fff;
}
.outline-btn{
    width: 234px;
    height: 52px;
    border: 2px solid #F9621F;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #B9B8B7;
    &:hover{
        color: #F9621F;
    }
}