.general-titel {
  padding: 24px 0 0;
}
.page-titel {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;

}
.control-btn {
  min-width: 40px;
}
.controls-header {
  width: 136px;
}
.titel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
  margin-top: 24px;
}

::ng-deep {
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
  button:focus{
    outline: none;
  }
}
