.subtitle {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  padding: 0 24px;
}

.general-titel {
  padding: 24px 0 0;
}

.page-titel {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
}
.control-btn {
  min-width: 40px;
}
.controls-header {
  width: 136px;
}
.titel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
  margin-top: 24px;
}

::ng-deep {
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
  button:focus {
    outline: none;
  }
}

.description-cell {
  width: 23%;
}
.add-book-btn {
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    outline: none;
  }
}
.loading-card {
  margin-top: -25px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  border-radius: 0;
}
